<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="container">
            <form method="post" action="/changepassword" class="subcontainer">
                <ul id="error">
                    <% if (locals.errors) {%>
                        <% for(let error of errors) { %>
                            <li><%=error.msg%></li>
                            <% } %>
                    <%}%>  
                </ul>
                <div class="field">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="field">
                    <label for="passwordConfirm">Confirm Password </label>
                    <input type="text" name="passwordConfirm" id="passwordConfirm">
                </div>
                <input type="submit" value="Change password">
                <a href="profile"><input type="button" value="Cancel"></a>
            </form>
        </div>
    </body>
</html>